parameters:
    level: 1
    tmpDir: .phpstan
    paths:
        - src
        - tests
    ignoreErrors:
        - '#^Fetching deprecated class constant MASTER_REQUEST.*#'
        - '#Access to undefined constant Symfony\Component\HttpKernel\HttpKernelInterface::MAIN_REQUEST.#'
